.orders-page {
  padding: 20px;
  background: #f7f7f7;
  min-height: 100vh;
  box-sizing: border-box;
}

.orders-wrapper {
  max-width: 1500px;
  margin: auto;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid #ddd;
  box-sizing: border-box;
  margin-top: 20px;
}

.orders-wrapper h2 {
  margin-bottom: 20px;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
}

.orders-table th,
.orders-table td {
  padding: 12px;
  text-align: left;
   text-align: center;
  border-bottom: 1px solid #eee;
}

.orders-table th {
  background: #fafafa;
  color: #000;
  font-weight: 600;
}

.orders-table td {
  background: #fff;
  color: #000;
  vertical-align: top;
}

.orders-table td ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.orders-table td ul li {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  font-size: 14px;
}

/* ---------------- Order Status ---------------- */
.status {
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 13px;
  text-transform: capitalize;
  display: inline-block;
}

/* Order Status Colors */
.status.ready {
  background: #0379e0;
  color: #ffffff;
  border: 1px solid #17a2b8;
}

.status.pending {
  background: #ff9d00;
  color: #ffffff;
  border: 1px solid #ffc107;
}

.status.out-for-delivery {
  background: #2ec101;
  color: #ffffff;
  border: 1px solid #28fa03;
}

.status.delivered {
  background: #249501;
  color: #ffffff;
  border: 1px solid #28fa03;
}

.status.cancelled {
  background: #fe0015;
  color: #ffffff;
  border: 1px solid #dc3545;
}

/* ---------------- Payment Status ---------------- */
.payment-status {
  font-size: 13px;
  font-weight: 700;
  text-transform: capitalize;
}

/* Payment Status Colors */
.payment-status.pending {
  color: #ffc107; /* Yellow */
}

.payment-status.completed {
  color: #28a745; /* Green */
}

.payment-status.declined {
  color: #dc3545; /* Red */
}
.payment-status.rejected {
  color: #dc3545; /* Red */
}

/* ---------------- Empty & Loader ---------------- */
.empty {
  text-align: center;
  font-size: 1.2rem;
  padding: 50px 0;
  color: #555;
}

.loading {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  text-align: center;
  margin-top: 50px;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #000000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.filter-container {
  margin-bottom: 1rem;
}

.filter-container select {
  padding: 5px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.details-btn {
  
  background-color: #fff;
  color: #000;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: bold;
}

